.modal-wrapper {
  /*This is the part 'around' the pop up box - must be transparent*/
  background: rgba(0, 0, 0, 0.508);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.modal {
  /*This is the box itself*/
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 300px;
  width: 100%;
  background: #4a4a4a;
  padding: 20px;
  margin: 20vh auto;
  border-radius: 20px;
  position: relative;
}
.detail-wrapper {
  background: rgba(0, 0, 0, 0.508);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.detail {
  font-family: Arvo;
  text-align: center;
  max-width: 300px;
  width: 100%;
  background: #4a4a4a;
  padding: 20px;
  margin: 35vh auto;
  border-radius: 20px;
  position: relative;
  color: white;
}
/* --- button Styling --- */
.modal-close {
  /*this is the style for the exit option in the popup*/
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  border-radius: 5px;
}
.modal-close img {
  width: 20px;
  height: 20px;
}
.detail-close {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  border-radius: 5px;
}
.detail-close img {
  width: 20px;
  height: 20px;
}
button {
  /*this is the style for the button that is displayed on the main page*/
  background: #808080;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.gearBtn {
  background-color: transparent;
  border-color: transparent;
}
.gearBtn img {
  width: 20px;
  height: 20px;
}
.btn-group .button1 {
  background-color: dimgray;
  border: 5px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: Arvo;
  font-size: 15px;
  cursor: pointer;
  border-radius: 30px;
  width: 150px;
  display: inline-block;
  margin: 5px auto;
}
.btn-group .button1:not(:last-child) {
  border-bottom: none;
}
.btn-group .button1:hover {
  background-color: darkgray;
}
/* ----------------- */
canvas {
  background: #1f1f1f;
  border-radius: 20px;
  border-color: rgba(67, 90, 100);
  border-style: solid;
  margin: 0px 10px;
}
/* --- Legend Styling --- */
#legend {
  color: white;
  font-family: Arvo;
  text-align: left;
}
#agents {
  color: white;
}
#s3 {
  color: white;
  font-family: Arvo;
}
#s2 {
  color: white;
  font-family: Arvo;
}
#s1 {
  color: white;
  font-family: Arvo;
}
#s0 {
  color: white;
  font-family: Arvo;
}
#offline {
  color: white;
  font-family: Arvo;
}
p {
  font-size: 25px;
}
#details {
  color: white;
  font-family: Arvo;
}
/* ---------------------- */
/*pop-up menu dots*/
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.s0 {
  background-color: cyan;
}
.s1 {
  background-color: mediumblue;
}
.s2 {
  background-color: blue;
}
.s3 {
  background-color: midnightblue;
}
.sOff {
  background-color: cornflowerblue;
}
.sAgents {
  background-color: black;
}
/* -------------- */
/*aligning pop-up menu counters*/
.counter {
  min-width: 100px;
  display: inline-flex;
}
/* --------------------------- */

/* --- tooltip --- */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 110%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* --------------- */
